/* Navigation Bar */

#navbar {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

#logo {
    margin-left: 80px;
}

#menu {
    margin-left: 120px;
}

#col-search {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #8A8A8A;
}

#btn-search {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
}

.icon {
    background: #CFD4ED;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 5px;
}

.icon-text {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

#nickname {
    margin-right: 10px;
    color: #151515;
}

#chevron {
    margin-top: -4px;
    margin-right: 20px;
}


/* Sidebar */

.sidebar {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: rgba(13, 40, 166, 1);
    padding: 6px 14px;
}

.sidebar-list {
    margin-left: -33px;
    height: 100vh;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li {
    position: inherit;
    height: 60px;
    width: 70%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    border-radius: 12px;
}

#sidebar-text-1 {
    margin-top: -7px;
    margin-left: -15px;
}

#sidebar-text-2 {
    margin-top: -12px;
    margin-left: -11px;
}


/* box */

.box {
    background: #FFFFFF;
    left: 0;
    height: 100vh;
    width: 275px;
}

.box-list ul {
    margin-left: 30px;
    list-style: none;
}

.box-list ul li {
    top: 0;
    padding: 0px;
}

.text-box-1 {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 70px;
    color: #8A8A8A;
    padding-top: 10%;
    margin-left: 20px;
}

.text-box-2 {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    margin-top: -5px;
}

#list-cars {
    background: #CFD4ED;
    padding: 8px 20px;
}

#cars {
    margin-top: -8px;
    margin-left: -11px;
}

.text {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #f4f5f7;
}

#delete {
    padding: 20px;
    width: 45%;
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #FA2C5A;
    color: #FA2C5A;
    background: #FFFFFF;
    border-radius: 2px;
}

.card-body {
    margin-left: 2%;
}

#edit {
    padding: 20px;
    margin-left: 6%;
    width: 46%;
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #5CB85F;
    border-radius: 2px;
}

.size {
    margin-left: -33px;
}

#cancel {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
}

#save {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    background: #0D28A6;
    border-radius: 2px;
}

.tombol {
    margin-top: 12%;
}

.form-input {
    background: #FFFFFF;
    padding: 15px;
}

.content {
    position: absolute;
    left: 300px;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 1000px;
}

#breadcrumb-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #222222;
}

.breadcrumb li a {
    color: #000000;
    text-decoration: none;
}

.content-list {
    padding-top: 3%;
    margin-left: -30px;
}

.content-list ul {
    list-style: none;
}

.text-content-1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #8A8A8A;
}

.text-content-2 {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #151515;
    margin-top: 20px;
}

.cars {
    background: rgba(255, 255, 255, 0.3);
    padding: 0px 32px;
    margin-top: 5px;
    margin-left: -20px;
}

.text-1 {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.text-content-3 {
    font-family: 'helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 20px;
}

.container {
    margin-left: -23px;
    margin-top: 2%;
}

.row {
    margin-right: 65%;
}

#btn-add {
    background: #0D28A6;
    border-radius: 2px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    float: right;
    margin-right: 40px;
    margin-top: -20px;
}